p{
  font-family: Roboto,Arial;
  margin-top:0;
  margin-bottom: 0;
}
.tweet{
  border-radius : 10px;
  align-items: center;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  display:flex;
  padding:8px 12px;
  width:400px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.left-side{
  display:flex;
  align-items:center;
  gap:10px;
}

.photo{
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position:left;
  border-radius: 50%;
  
}

.button{
  border:none;
  border-radius:15px;
  background-color:rgb(56, 165, 238);
  color:white;
  padding:8px 14px;
  cursor:pointer;
  transition:opacity 0.3s;
  font-weight: bold;
}