.container {
  border:1px solid black;
  border-radius:8px;
  padding:10px;
  width:300px;
  
}
.flexbox{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding-top: 5px;
  padding-bottom: 5px;
  border:1px solid black;
  
}

.notifications{
  background-color:rgb(24, 119, 242);
  color:white;
  padding:3px 8px;
  border-radius:10px;
  border:none;
 
}