 .uber{
    background-color:rgb(0,0,0);
    color:white;
    padding:12px 21px;
    border:none;
    cursor:pointer;
    transition: opacity 0.3s;
  }
  .uber:hover{
    opacity:0.8;
  }
  .amazon{
    background-color: rgb(255, 216, 0);
    color:black;
    border:none;
    padding:12px 56px;
    cursor:pointer;
    border-radius:18px;
    transition: background-color 0.3s;
  }
  .amazon:hover{
    background-color:rgb(223, 190, 3)
  }
  .github{
    background-color:rgb(46,164,79);
    color:white;
    padding:12px 17px;
    border:none;
    cursor:pointer;
    border-radius:4px;
    font-weight: bold;
    transition: box-shadow 0.3s;
  }
  .github:hover{
    box-shadow:7px 7px 16px rgba(0,0,0,0.3);
  }
  .bootstrap{
    background-color:rgb(121, 82, 179);
    color:white;
    padding:12px 25px;
    border:none;
    cursor:pointer;
    border-radius:3px;
    font-weight: bold;
    margin:0 10 0 0;
    transition: background-color 0.3s;
  }
  .bootstrap:hover{
    background-color: rgb(100, 68, 158);
  }
  .download{
    background-color:white;
    color:rgb(108,117,125);
    padding:12px 25px;
    border:1px solid rgb(108,117,125);
    cursor:pointer;
    border-radius:3px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  .download:hover{
    background-color:rgb(108,117,125);
    color:white;
  }
  .Linkedin{
    background-color:rgb(10,102,194);
    color:white;
    padding:12px 40px;
    border:none;
    cursor:pointer;
    border-radius:19px;
    font-weight: bold;
    margin:0 10 0 0;
    transition:background-color 0.3s;

  }
  .Linkedin:hover{
    background-color: rgb(8,82,156);
  } 
  .save{
    background-color:white;
    color:rgb(10,102,194);
    padding:12px 19px;
    border:1px solid rgb(10,102,194);;
    cursor:pointer;
    border-radius:18px;
    font-weight: bold;
    transition: border-width 0.15s, background-color 0.15s;
  }
  .save:hover{
    border-width:2px;
    background-color: rgb(226, 240, 254);
  }
  .link{
    color:rgb(0,113,133);
    transition:color 0.3s;
  }
  .link:hover{
    color:rgb(255, 115, 0)
  }
  .nike{
    font-size:20px;
    font-weight:bold;
  }
  .money{
    
    color:rgb(0, 118, 0);
    font-weight:bold;
  }
  .add{
    background-color: rgb(255, 216, 20);
    color:black;
    border:none;
    padding:12px 27px;
    cursor:pointer;
    border-radius:18px;
    margin:0 10px 0 0;
    transition:opacity 0.3s;
  }
  .add:active{
    opacity:0.4;

  }
  .buy{
    background-color: rgb(255, 164, 28);
    color:black;
    border:none;
    padding:12px 27px;
    cursor:pointer;
    border-radius:18px;
    transition:opacity 0.3s;
  }
  .buy:active{
    opacity:0.4;

  }