p{
      font-family:Roboto;
      margin-top:0px;
      margin-bottom:0px;
      font-size:14px;
      color:rgb(95, 95, 95);
      
    }
    .video{
      font-size:18px;
      font-weight:bold;
      width:290px;
      line-height:24px;
      margin-bottom: 5px;
      color:black;
    }
    
    .author{
      
      margin-top:15px;
      margin-bottom:15px;
    }
    .title{
      width:280px;
      line-height:20px;
      margin-bottom: 100px;

    }
    .apple{
      color:white;
      background-color: rgb(227, 65, 64);
      text-align:center;
      padding:15px 0 ;
      margin-bottom:50px;
    }
    .shop{
      transition: text-decoration 0.3s;
      cursor:pointer;
    }
    .shop:hover{
      text-decoration:underline;
    }