.champ{
    width:200px;
    border-radius: 10px;
    border:none;
}
.champ2{
    width:100px;
    border: none;
    height:100px;
    object-fit: contain;
}
.champ3{
    width:160px;
    border:none;
    border-radius:50%;
    object-fit: cover;
}
p{
    margin:8px 0;
    color:gray;


}
.linkedin{
    background-color: blue;
    color:white;
    padding:10px 30px;
    border:none;
    border-radius:30px;
    width:300px;
}