*{
  font-family: Arial;
}

.name,.email{
  border:1px solid rgb(153, 152, 152);
  width:130px;
  padding:9px 12px;
  font-weight: bold;
  border-radius:9px;
  margin-bottom: 10px;
}
.email{
  display:block;
  width:290px;
}
.button{
  width:315.8px;
  color:white;
  background-color: rgb(88, 88, 231);
  font-weight: bold;
  padding:10px;
  font-size:19px;
  border:none;
  border-radius:9px;
}