.shape{
    width:100px;
    height:100px;
    display:inline-block;
    margin:10px 10px;
}

.square{
    background-color:red;
    
}
.circle{
    background-color:green;
    border-radius:50%;
}
.task{
    border:1px solid grey;
    width:300px;
    padding:12px 17px;

}
.question{
    font-size:18px;
    color:grey;
    font-family:Arial;
    margin-bottom:10px;
}
.answer{
    border:none;
    border-radius:7px;
    padding:7px 12px;
    cursor:pointer;
    color:white;
    transition:opacity 0.3s;
    margin:0 2px;
    
}
.answer:hover{
    opacity:0.8;
}
.yes{
    background-color: rgb(95, 233, 68);
}
.no{
    background-color:rgb(219, 49, 49);
}
.Youtube_div{
    width:330px;
    background-color:rgb(34, 34, 34);
    margin-top: 10px;
    padding:23px 18px;

}
.Youtube{
    font-family:Arial;
    margin:0;
}
.title{
    color:rgb(226, 222, 222);
    font-size:22px;
    margin-bottom:15px;
    font-weight: bold;
}
.description{
    color:rgb(170, 170, 170);
    
    
}