p{
  font-family:Arial;
}
.user{
  box-shadow:0 0 7px rgba(0,0,0,0.3);
  display:inline-block;
  margin-right:8px;
}
.image{
  width:150px;
  height:150px;
  object-fit:cover;
}
.user_name{
  font-weight:bold;
  font-size:17px;
  margin:7px 5px;
}
.friends{
  color:grey;
  font-size:14px;
   margin:7px 5px;
}
.button{
  background-color: rgb(24, 119, 242);
  color:white;
  font-size: 13px;
  padding:8px 8px;
   margin:7px 5px;
   border:none;
   border-radius:6px;
   transition:box-shadow 0.3s;
}
.button:hover{
  box-shadow:5px 5px 7px rgba(0,0,0,0.3)
}
.button:active{
  opacity:0.8;
}