*{
  font-family:Arial;
}
.square{
  width:100px;
  height:100px;
  background-color: rgb(153, 27, 27);
  display:inline-block;
  margin-right:40px;
}
.circle{
  width:100px;
  height:100px;
  background-color: rgb(27, 153, 37);
  border-radius: 50px;
  display:inline-block;
}
.paragraph{
  border:1px solid black;
  width:300px;
  padding:10px 9px;
}

.Youtube{
  background-color:rgb(31, 31, 31);
  width:350px;
  padding:5px 20px;
  margin-top:20px;
}
.Install{
  color:white;
  font-weight:bold;
  font-size:22px;
}
.description{
  color:rgb(99, 99, 99)
}