p{
  font-family: Roboto,Arial;
  margin-top:0;
  margin-bottom: 0;
}
body{
  margin:0;
  padding-top:86px;
  padding-left:96px;
  padding-right:26px;
  height:3000px;
  background-color: rgb(245, 243, 243);
}
@media(min-width: 1200px){
  body{
    padding-left:266px;
    
  }
}