.thumbnail{
  width:300px;
  display:block;

}
.video-title{
  margin-top: 0;
  margin-bottom: 0;
}
.search{
  display:block;
}
.video{
  width:300px;
  display:inline-block;
  vertical-align:top;
  margin-left:20px;
}
.channel_picture{
  display:inline-block;
  width:50px;
  vertical-align: top;
  
}
.video_info{
  display:inline-block;
  width:200px;
  
}
.channel{
  width:36px;
  border-radius: 50%;
  
}